<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>"Welcome to Brewduino!"</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{style.css}"/>
</head>

<body>
<h1>BREWDUINO</h1>
<form action="#" th:action="@{/brewduino}" th:object="${request}" method="POST">
    Sugar&nbsp;
    <select name="sugar" th:field="*{sugar}">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select><br/>
    Milk&nbsp;
    <select name="milk" th:field="*{milk}">
        <option value="no milk">No milk</option>
        <option value="skimmed">Skimmed</option>
        <option value="semi-skimmed">Semi-Skimmed</option>
    </select><br/>

    <h2>EXTRAS:</h2>
    <input type="checkbox" name="extra" th:field="*{vanillaSyrup}"/>Vanilla syrup<br/>
    <input type="checkbox" name="extra" th:field="*{caramelSyrup}"/>Caramel syrup<br/>
    <input type="submit" value="BREW"/>
</form>
</body>
</html>