<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>"Welcome to Brewduino!"</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/style.css" rel="stylesheet"
          th:href="@{style.css}"/>
</head>

<body>
<h1>BREWDUINO</h1>
<form action="#" th:action="@{/brewduino}" th:object="${request}" method="POST">
    Sugar&nbsp;
    <select name="sugar" th:field="*{sugar}">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select><br/>
    Milk&nbsp;
    <select name="milk" th:field="*{milk}">
        <option value="no milk">No milk</option>
        <option value="skimmed">Skimmed</option>
        <option value="semi-skimmed">Semi-Skimmed</option>
    </select><br/>

    <h2>EXTRAS:</h2>
    <input type="checkbox" name="extra" th:field="*{vanillaSyrup}"/>Vanilla syrup<br/>
    <input type="checkbox" name="extra" th:field="*{caramelSyrup}"/>Caramel syrup<br/>
    <input type="checkbox" name="extra" th:field="*{hazelnutSyrup}"/>Hazelnut syrup<br/><br/>
    <h2>START TIME:</h2>
    <select name="hours">
        <option value="00">00</option>
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
    </select>
    <select name="minutes">
        <option value="00">00</option>
        <option value="15">15</option>
        <option value="30">30</option>
        <option value="45">45</option>
    </select><br/><br/>
    <input type="submit" value="BREW"/>
</form>
</body>
</html>